@font-face {
    font-family: 'ANDMOREY';
    src: url('../assets/fonts/ANDMOREY.otf') format('opentype');
  }
  
.forkimage{
  width: 50px;
  margin-bottom: 2rem;
}
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #113A61, #2378C7)
  }
  
  .splash-content {
    text-align: center;
  }
  
  .splash-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'ANDMOREY';
  }
  
  .progress-bar-container {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
  }
  
  .progress-bar {
    height: 10px;
    background-color:#113A61;
    border-radius: 10px;
    transition: width 0.3s ease;
  }
  
  .splash-content p {
    margin-top: 10px;
    font-size: 1rem;
    color: #e9e9e9;
  }
  